.contents{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.content{
    margin: 20px;

    width: 300px;
    padding: 20px;
    background-color: yellowgreen;
    padding-right: 30px;
}
.container{
    margin-top: 80px;
    text-align: center;
}
.content h1{
text-align: center;
}
.content p{
    text-align: center;
}